body {
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);

    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 85%;
    max-width: 400px;
    padding: 35px 20px;
    background: white;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

h1 {
    color: #ff4f81;
    font-size: 30px;
}

p {
    color: #555;
    font-size: 18px;
}

button {
    padding: 14px 25px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
}

#yesBtn {
    background: #ff4f81;
    color: white;
}

#noBtn {
    background: #777;
    color: white;
    position: fixed;
}c